.h1 {
  span {
    background: linear-gradient(92deg, #002fd3 0%, #00e0ff 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-attachment: fixed;
  }
}
